%h1 Orders

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Email
    %th Status
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.email
      %td= order.status
      %td= link_to 'Show', order
      %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
